language: go

go:
  - "1.14.x"

services:
  - docker

env:
  global:
    - GO111MODULE=on

install:
  - echo 'skip install'

script:
  - echo 'skip script'

after_success:
  - docker --version
  - docker build -f Dockerfile --label "commit=$TRAVIS_COMMIT" -t kybernetwork/bsc:$TRAVIS_COMMIT .

deploy:
  - provider: script
    script: bash .travis/docker_push.sh
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH =~ ^develop|staging|master$
